html {
    overflow: auto;
}

body {
	background-color: #fff;
	color: #999;
}
body, input, .form-field, select {
	font: 16px Arial, Helvetica, sans-serif; /* Default font properties */
}
.top-block {
	width: 100%;
	position: fixed;
	top: 0;
	padding: 5px 0 1px;
	background-color: #dd4433;
	z-index: 999;
}
.header .search-icon span, .header form .search-icon, .nav .icon, .tab.trending .action .icon, .results .avatar .icon, .results .actions a.download, .results .actions a.favorite {
	background: url(../imgs/icons.png) no-repeat;
}
.header {
	height: 30px;
	position: relative;
	margin: 0 5px;
	padding: 10px 0;
	border-radius: 2px;
	background-color: #fff;
}
.header:hover, .header .search-close:hover {
	cursor: pointer;
}
.header .logo span {
	height: 28px;
	display: block;
	background: url(../imgs/logo.png) no-repeat;
}
.header .search-icon span {
	width: 25px;
	height: 25px;
	float: right;
	display: block;
	margin-top: 3px;
	background-position: 0 0;
}
.header .audio-field {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	border-radius: 2px;
	background-color: #fff;
}
.header form {
	position: relative;
}
.header form .search-icon {
	width: 25px;
	height: 25px;
	float: left;
	margin: 5px 10px 0 0;
}
.header input[type=search], .header input[type=text] {
	width: 85%;
	height: 30px;
	position: absolute;
	left: 15%;
	border: 0;
	border-bottom: 1px solid #dedede;
	color: #999;
}
.header .search-close {
	text-align: right;
}
.header .search-close span {
	display: block;
	margin: 15px 0 0;
	color: #e4e4e4;
}
.nav {
	margin: 20px 0 0;
}
.nav a {
	height: 30px;
	display: block;
	text-align: center;
}
.nav a.on {
	border-bottom: 2px solid #fff;
}
.nav .icon {
	width: 24px;
	height: 24px;
	display: block;
	margin: 0 auto 10px;
}
.nav .trending span {
	background-position: 0 -35px;
}
.nav .discover span {
	background-position: 0 -62px;
}
.nav .favorite span {
	background-position: 0 -91px;
}
.nav .trending span.on {
	background-position: 0 -119px;
}
.nav .discover span.on {
	background-position: 0 -146px;
}
.nav .favorite span.on {
	background-position: 0 -175px;
}
.container, .search-result {
	margin-top: 116px;
}
.tab {
	display: none;
	margin-top: 10px;
}
.tab.active {
	display: block;
}
.tab.trending ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.tab.trending .block {
	width: 100%;
	height: 150px;
	overflow: hidden;
	display: block;
	position: relative;
	margin-bottom: 15px;
	border-radius: 2px;
	border: 2px solid #dedede;
	border-width: 1px 1px 2px;/*box-shadow: 0 1px 3px #999;*/
}
.tab.trending .block:hover {
	border-bottom-color: #bbb;
}
.tab.trending .title {
	color: #dd4433;
}
.tab.trending .action img {
	width: 100%;
	height: 100%;
}
.tab.trending .action {
	height: 100px;
	display: block;
	position: relative;
}
.tab.trending .action .icon, .results .avatar .icon {
	width: 48px;
	height: 48px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -22px 0 0 -24px;
}
.tab.trending .action .icon, .results .avatar .icon:hover {
	cursor: pointer;
}
.tab.trending .action .icon.play, .results .avatar .icon.play {
	background-position: 0 -204px;
}
.tab.trending .action .icon.pause, .results .avatar .icon.pause {
	display: none;
	background-position: 0 -260px;
}
.tab.trending .name h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 5px;
	background-color: #fff;
	font-weight: normal;
	font-size: 14px;
	color: #666;
}
.tab.trending .name span {
	display: block;
	font-size: 12px;
	color: #bbb;
}
.tab.discover a {
	float: left;
	margin: 0 5px 10px;
	color: #fff;
}
.tab.discover a span {
	display: block;
	padding: 10px;
}
.tab.discover a:hover {
	text-decoration: none;
}
.tab.discover .music {
	background-color: #ff6267;
}
.tab.discover .general {
	background-color: #00aacc;
}
.tab.discover .artist {
	background-color: #ffbb00;
}
.tab.discover .world {
	background-color: #22dd00;
}
.results {
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.results li {
	width: 98%;
	margin-bottom: 10px;
	padding: 0 1% 10px;
	border-bottom: 1px solid #dedede;
}
.results * {
	float: left;
}
.results .avatar {
	position: relative;
}
.results .avatar img {
	max-width: 70px;
	height: 70px;
}
.results .name {
    min-height: 64px;
	width: 55%;
	margin: 0 10px;
	font-weight: normal;
	font-size: 16px;
}
.results .name:hover {
    cursor: pointer;
}

.results .actions {
	width: 32px;
	height: 32px;
	float: right;
	position: relative;
	text-align: right;
}
.results .actions a {
	display: block;
	position: absolute;
}
.results .actions a.download {
	width: 32px;
	height: 32px;
	top: 0;
	background-position: 0 -405px;
}
.results .actions a.favorite {
	width: 22px;
	height: 22px;
	top: 25px;
	left: 5px;
	background-position: 0 -373px;
}
.results .actions a.favorite.on {
	background-position: -24px -373px;
}
.results .actions a.remove {
	width: 22px;
	height: 22px;
	top: 25px;
	right: 0;
	color: #999;
}
.results .actions a.remove:hover {
	text-decoration: none;
}
.search-result {
	display: none;
}
.search-suggestions {
	overflow: hidden;
	display: none;
	position: absolute;
	top: 48px;
	left: 0;
	right: 0;
	border-radius: 0 0 3px 3px;
	background-color: #fff;
}
.search-suggestions ul {
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.search-suggestions li a {
	display: block;
	padding: 8px 5px;
	border-left: 3px solid #fff;
	color: #999;
	word-wrap: break-word
}
.search-suggestions li a:hover {
	border-left: 3px solid #dd4433;
	background-color: #ededed;
	text-decoration: none;
}
@media screen and (max-width:480px) {
.results li {
	width: 96%;
	padding: 0 2% 10px;
}
}
@media screen and (min-width:480px) {
.header input[type=search], .header input[type=text] {
	width: 90%;
	left: 10%;
}
}
@media screen and (min-width:768px) {
.header input[type=search], .header input[type=text] {
	width: 93%;
	left: 7%;
}
}
@media screen and (min-width:960px) {
.header input[type=search], .header input[type=text] {
	width: 96%;
	left: 4%;
}
}

.ui-input-clear, .ui-loader-default{
    display:none;
}

.search-box::-ms-clear {
    display: none;
}

.search-box::-ms-clear {
  width : 0;
  height: 0;
}