body {
	background-color: #fff;
}
body, input, .form-field, select {
	font: 16px Arial, Helvetica, sans-serif; /* Default font properties */
}
.top-block {
	padding: 5px;
	background-color: #dd4433;
}
.header .search-icon, .nav .icon {
	background: url(../imgs/icons.png) no-repeat;
}
.header {
	height: 30px;
	padding: 10px;
	border-radius: 2px;
	background-color: #fff;
}
.header .logo {
	width: 82px;
	height: 28px;
	float: left;
	display: block;
	background: url(../imgs/logo.png) no-repeat;
}
.header .search-icon {
	width: 25px;
	height: 25px;
	float: right;
	display: block;
	margin-top: 3px;
	background-position: 0 0;
}
.header .search-icon:hover, .header .search-close:hover {
	cursor: pointer;
}
.header .audio-field {
	display: none;
	position: absolute;
	top: 5px;
	right: 5px;
	left: 5px;
	border-radius:2px;
	background-color: #fff;
}
.header .audio-field .search-icon {
	float: left;
	margin: 12px 10px 0;
}
.header form {
	width: 70%;
	float: left;
}
.header input[type=search], .header input[type=text] {
	width: 100%;
	height: 30px;
	border: 0;
	border-bottom: 1px solid #dedede;
	color: #999;
}
.header .search-close {
	float: right;
	margin: 15px 10px 0 0;
	color: #e4e4e4;
}
.nav {
	margin-top: 20px;
}
.nav a {
	height: 30px;
	display: block;
	text-align: center;
}
.nav a.on {
	border-bottom: 1px solid #fff;
}
.nav .icon {
	width: 24px;
	height: 24px;
	display: block;
	margin: 0 auto 10px;
}
.nav .trending span {
	background-position: 0 -35px;
}
.nav .discover span {
	background-position: 0 -62px;
}
.nav .favorite span {
	background-position: 0 -91px;
}
.nav .trending span.on {
	background-position: 0 -119px;
}
.nav .discover span.on {
	background-position: 0 -146px;
}
.nav .favorite span.on {
	background-position: 0 -175px;
}
.tab {
	display: none;
	margin-top: 10px;
}
.tab.active {
	display: block;
}
.tab.discover a {
	width: 30%;
	float: left;
	margin: 5px;
	color: #fff;
}
.tab.discover a span {
	display: block;
	padding: 10px;
}
.tab.discover a:hover {
	text-decoration: none;
}
.tab.discover .music {
	background-color: #ff6267;
}
.tab.discover .general {
	background-color: #00aacc;
}
.tab.discover .artist {
	background-color: #ffbb00;
}
.tab.discover .world {
	background-color: #22dd00;
}
