.player {
	width:100%;
	overflow:hidden;
	position:fixed;
	bottom:0;
	padding:10px 0;
	background-color: rgba(0, 0, 0, 0.7);
}
.player .progress {
	padding:0 0px 10px;
}
.player #canvas {
	width:100%;
	height:10px;
	border:1px solid #fff;
	background-color:#000;
}
.player .action {
	padding:0 10px;
}
.player h3 {
	width:60%;
	float:left;
	margin:0;
	font-weight:normal;
	color:#fff;
	word-wrap:break-word;
}
.player .btns {
	width:40%;
	float:right;
	text-align:right;
}
.player .icon {
	width:24px;
	height:24px;
	background:url(../imgs/player-icons.png) no-repeat;
}
.player .prev {
	background-position:0 0;
}
.player .next {
	background-position:0 -33px;
}
.player .play {
	margin:0 15px;
	background-position:0 -65px;
}
.player .pause {
	display:none;
	margin:0 15px;
	background-position:0 -99px;
}